html {
    font-family: 'Oxygen', sans-serif;
    background-color: #1b1c1f;
    color: #cccccc;
}

.navbar {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 12px 14px;
}

.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2px 2px;
    color: #dddddd;
    transition: all 0.3s ease-in-out;
    border: none !important;
}

.navbar li a:hover {
   color: #fff;
}

.container {
    margin: auto;
    overflow: hidden;
    border-top: 1px solid #707070;
    padding-top: 14px;
}

.red {
    color: #ff0000;
}

.green {
    color: #00b126;
}

@media (max-width: 599px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .container {
        width: 35em;
    }
}

.avatar {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.text-center {
    text-align: center;
}

.nav-active {
    color: #fff !important;
}

.white {
    color: #fff !important;
}

a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

.skill-img {
    height: 72px;
    width: auto;
    margin: 10px;
    border: none !important;
}

.input {
    display: block;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.input:focus {
    outline: none;
}

.input:focus:valid {
    border: 1px solid #0084ff;
}

.input:focus:invalid {
    border: 1px solid #ff8800;
}


.input-wide {
    width: 90%;
}

.contact-message {
    resize: none;
    font-size: 14px;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.contact-message:focus {
    outline: none;
}

.btn {
    display: inline-block;
    height: 2.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
    color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    background-color: #007cff;
}

.btn:disabled {
    cursor: wait;
    opacity: 0.8;
}

.disabled {
    pointer-events: none;
    cursor: wait;
}

.newlines {
    white-space: pre-line;
}

.toastjs-container {
    color: #000 !important;
}

.mg-auto {
    margin: auto;
}

.table1 {
    width: 100%;
    border-collapse: collapse;
}

.table1 th, .table1 td {
    border: 1px solid #3a3a3a;
    padding: 8px;
}

.table-heading th {
    background-color: #333333;
}

.table1 tr:not(.table-heading):hover {
    transition: all .1s ease-in-out;
    background-color: #1b1c1f;
}

.clickable {
    cursor: pointer;
}

.p-nomargin p {
    margin: 0;
}

.cmsg-box {
    padding: 5px;
    border: 1px solid #3a3a3a;
    background-color: #1b1c1f;
}

.github-logo {
    border: none !important;
    width: 64px;
    height: auto;
    display: block;
    margin-top: 1rem;
}

.dim {
    color: #929292;
    opacity: 0.75;
}