ErrorDocument 404 https://%{HTTP_HOST}/
ErrorDocument 403 https://%{HTTP_HOST}/

<Files ~ "\.inc.php$">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine on
RewriteRule "^responses$" "responses.admin.php"